.card-actions{
    text-align:right;
    color: white;
}
.proceed-to-cart{
    font-size: 16px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  

